
# Output
CONFIG_USES_DEVICETREE=y
CONFIG_USES_INITRAMFS=y
CONFIG_USES_SQUASHFS=y
CONFIG_USES_EXT4=y
CONFIG_USES_TARGZ=y
CONFIG_USES_CPIOGZ=y
CONFIG_TARGET_UBIFS_FREE_SPACE_FIXUP=y
CONFIG_TARGET_UBIFS_JOURNAL_SIZE=""
CONFIG_TARGET_IMAGES_GZIP=y

# Video/Camera Support
CONFIG_PACKAGE_kmod-i2c-algo-bit=y
CONFIG_PACKAGE_kmod-i2c-algo-pca=y
CONFIG_PACKAGE_kmod-i2c-algo-pcf=y
CONFIG_PACKAGE_kmod-i2c-designware-pci=y
CONFIG_PACKAGE_kmod-i2c-gpio=y
CONFIG_PACKAGE_kmod-i2c-mux=y
CONFIG_PACKAGE_kmod-i2c-mux-gpio=y
CONFIG_PACKAGE_kmod-i2c-mux-pca9541=y
CONFIG_PACKAGE_kmod-i2c-mux-pca954x=y
CONFIG_PACKAGE_kmod-i2c-pxa=y
CONFIG_PACKAGE_kmod-i2c-smbus=y
CONFIG_PACKAGE_kmod-i2c-tiny-usb=y

# Kmod
CONFIG_PACKAGE_kmod-drm-rockchip=y
CONFIG_PACKAGE_kmod-gpu-lima=y

# LuCI App
CONFIG_PACKAGE_luci-app-airplay2=y
CONFIG_PACKAGE_luci-app-filetransfer=y
CONFIG_PACKAGE_luci-app-oled=y

# Others
CONFIG_PACKAGE_hostapd=y
CONFIG_PACKAGE_hostapd-basic=y
CONFIG_PACKAGE_hostapd-utils=y
CONFIG_PACKAGE_hostapd-common=y
CONFIG_DRIVER_11AC_SUPPORT=y
CONFIG_DRIVER_11N_SUPPORT=y
CONFIG_DRIVER_11W_SUPPORT=y
CONFIG_PACKAGE_iw=y
CONFIG_PACKAGE_iwinfo=y
CONFIG_PACKAGE_wpad=y
CONFIG_PACKAGE_wpad-mini=y
CONFIG_PACKAGE_wpad-openssl=y
CONFIG_PACKAGE_wpa-supplicant=y
