#Target
CONFIG_TARGET_sunxi=y
CONFIG_TARGET_sunxi_cortexa7=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_ALL_PROFILES=y
CONFIG_TARGET_DEVICE_sunxi_cortexa7_DEVICE_friendlyarm_nanopi-m1-plus=y
CONFIG_TARGET_DEVICE_sunxi_cortexa7_DEVICE_friendlyarm_nanopi-neo=y
CONFIG_TARGET_DEVICE_sunxi_cortexa7_DEVICE_friendlyarm_nanopi-neo-air=y
CONFIG_TARGET_DEVICE_sunxi_cortexa7_DEVICE_friendlyarm_nanopi-r1=y
CONFIG_TARGET_DEVICE_sunxi_cortexa7_DEVICE_friendlyarm_zeropi=y
CONFIG_TARGET_DEVICE_sunxi_cortexa7_DEVICE_xunlong_orangepi-2=y
CONFIG_TARGET_DEVICE_sunxi_cortexa7_DEVICE_xunlong_orangepi-one=y
CONFIG_TARGET_DEVICE_sunxi_cortexa7_DEVICE_xunlong_orangepi-pc=y
CONFIG_TARGET_DEVICE_sunxi_cortexa7_DEVICE_xunlong_orangepi-pc-plus=y
CONFIG_TARGET_DEVICE_sunxi_cortexa7_DEVICE_xunlong_orangepi-plus=y
CONFIG_TARGET_DEVICE_sunxi_cortexa7_DEVICE_xunlong_orangepi-r1=y
CONFIG_TARGET_DEVICE_sunxi_cortexa7_DEVICE_xunlong_orangepi-zero=y

CONFIG_TARGET_DEVICE_sunxi_cortexa7_DEVICE_cubietech_cubieboard2=n
CONFIG_TARGET_DEVICE_sunxi_cortexa7_DEVICE_cubietech_cubietruck=n
CONFIG_TARGET_DEVICE_sunxi_cortexa7_DEVICE_lamobo_lamobo-r1=n
CONFIG_TARGET_DEVICE_sunxi_cortexa7_DEVICE_lemaker_bananapi=n
CONFIG_TARGET_DEVICE_sunxi_cortexa7_DEVICE_lemaker_bananapro=n
CONFIG_TARGET_DEVICE_sunxi_cortexa7_DEVICE_linksprite_pcduino3=n
CONFIG_TARGET_DEVICE_sunxi_cortexa7_DEVICE_linksprite_pcduino3-nano=n
CONFIG_TARGET_DEVICE_sunxi_cortexa7_DEVICE_mele_m9=n
CONFIG_TARGET_DEVICE_sunxi_cortexa7_DEVICE_olimex_a20-olinuxino-lime=n
CONFIG_TARGET_DEVICE_sunxi_cortexa7_DEVICE_olimex_a20-olinuxino-lime2=n
CONFIG_TARGET_DEVICE_sunxi_cortexa7_DEVICE_olimex_a20-olinuxino-lime2-emmc=n
CONFIG_TARGET_DEVICE_sunxi_cortexa7_DEVICE_olimex_a20-olinuxino-micro=n
CONFIG_TARGET_DEVICE_sunxi_cortexa7_DEVICE_sinovoip_bananapi-m2-ultra=n
CONFIG_TARGET_DEVICE_sunxi_cortexa7_DEVICE_sinovoip_bananapi-m2-plus=n

# Image Config
CONFIG_TARGET_PER_DEVICE_ROOTFS=y

# Wireless Drivers
CONFIG_PACKAGE_kmod-cfg80211=y
CONFIG_PACKAGE_kmod-mac80211=y
CONFIG_PACKAGE_MAC80211_DEBUGFS=y
CONFIG_PACKAGE_MAC80211_MESH=y
CONFIG_PACKAGE_kmod-rt2500-usb=y
CONFIG_PACKAGE_kmod-rt2800-lib=y
CONFIG_PACKAGE_kmod-rt2800-usb=y
CONFIG_PACKAGE_kmod-rt2x00-lib=y
CONFIG_PACKAGE_kmod-rt2x00-usb=y
CONFIG_PACKAGE_kmod-rt73-usb=y
CONFIG_PACKAGE_kmod-xradio=y
CONFIG_PACKAGE_kmod-sunxi-ir=n
