name: Delete All Workflow Runs

on:
  workflow_dispatch:
#  schedule:
#    - cron: "0 0 * * *"

jobs:
  del_runs:
    runs-on: ubuntu-latest
    steps:
      - name: Delete Workflow Runs
        uses: GitRML/delete-workflow-runs@main
        with:
          token: ${{ secrets.HELMIWRT_RW }}
          retain_days: 1
          keep_minimum_runs: 1
